<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head title="" th:replace="~{fragments/head :: head}">
    <title></title>=
</head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<div class="container" style="margin-top:80px">

    <div class="identity-text-center">
        <h1>Developer's Corner</h1>
    </div>

    <table id="table-index-page" class="tg">
        <thead></thead>

        <colgroup>
            <col style="width:40%">
            <col style="width:40%">
        </colgroup>

        <tbody>
        <tr>
            <td><a href="/private/developer/submit-enrolment" class="btn btn-primary w-100">Submit Biometric Collection Transaction</a></td>
            <td><a href="/private/...ex" class="btn btn-primary w-100">Under Construction ...</a></td>
        </tr>
        <tr>
            <td><a href="/private/...ex" class="btn btn-primary w-100">Under Construction ...</a></td>
            <td><a href="/private/...ex" class="btn btn-primary w-100">Under Construction ...</a></td>
        </tr>
        </tbody>

    </table>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>