<!--suppress HtmlFormInputWithoutLabel, HtmlFormInputWithoutLabel -->mlFormInputWithoutLabel -->mlFormInputWithoutLabel -->mlFormInputWithoutLabel -->mlFormInputWithoutLabel -->mlFormInputWithoutLabel -->
<div th:fragment="customer_data_entry">

    <div class="row">
        <div class="form-group col-6 mb-3">
            <label>First Name</label>
            <input class="form-control" name="firstName" th:value="${customerInstance?.firstName}"/>
        </div>
        <div class="form-group col-6 mb-3">
            <label>Last Name</label>
            <input class="form-control" name="lastName" th:value="${customerInstance?.lastName}"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6 mb-3">
            <label>Email Address</label>
            <input class="form-control" name="emailAddress" th:value="${customerInstance?.emailAddress}"/>
        </div>
        <div class="form-group col-6 mb-3">
            <label>Phone Number</label>
            <input class="form-control" name="phoneNumber" th:value="${customerInstance?.phoneNumber}"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col mb-3">
            <label>Address</label>
            <input class="form-control" name="address" th:value="${customerInstance?.address}"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6 mb-3">
            <label>City</label>
            <input class="form-control" name="city" th:value="${customerInstance?.city}"/>
        </div>
        <div class="form-group col-6 mb-3">
            <label>Country</label>
            <input class="form-control" name="country" th:value="${customerInstance?.country}"/>
        </div>
    </div>
</div>