<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head title="" th:replace="~{fragments/head :: head}">
    <title></title>=
</head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<div class="container" style="margin-top:80px">

    <div class="identity-text-center">
        <h1>Welcome to MGIS Inc.</h1>
    </div>

    <table id="table-index-page" class="tg">
        <thead></thead>

        <colgroup>
            <col style="width:40%">
            <col style="width:40%">
        </colgroup>

        <tbody>
        <tr>
            <td><a href="/private/repository/deployment" class="btn btn-primary w-100">List of Deployments</a></td>
            <td><a href="/private/repository/process-definitions" class="btn btn-primary w-100">List of Process
                Definitions</a></td>
        </tr>
        <tr>
            <td><a href="/private/runtime/process-instances" class="btn btn-primary w-100">List of Runtime Process
                Instances</a></td>
            <td><a href="/private/runtime/executions" class="btn btn-primary w-100">List of Executions </a></td>
        </tr>
        </tbody>

    </table>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>